<!DOCTYPE html>
<html>
    <head>
        <title>To-Do List</title>
        <link rel="stylesheet" href="/styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 class="h1-mainTitle">To-do List</h1>
        {{{body}}}
        <script src="/script.js"></script>
    </body>
</html>