<h1 class="h1-mainTitle">To-do List</h1>
<div class="page-container">
    <div class="page-sub-container">
        <h2>Create New Task</h2>
        <form action="" method="POST">
            <label for="todo_title">Title</label>
            <br>
            <input type="text" name="todo_title">
            <br>
            <label for="todo_description">Description</label>
            <br>
            <textarea rows=5 cols=50 name="todo_description"></textarea>
            <br>
            <input class="link-button" type="submit" value="Create">
            <span> | </span>
            <a class="link-button" href="/index?user={{user}}&list={{list}}">Cancel</a>
        </form>
    </div>
</div>