<h1 class="h1-mainTitle">To-do List</h1>
<div class="page-container">
    <div class="page-sub-container">
        <h2>Create New List</h2>
        <form action="" method="POST">
            <label for="list_title">Title</label>
            <br>
            <input type="text" name="list_title">
            <br>
            <br>
            <input class="link-button" type="submit" value="Create">
            <span> | </span>
            <a class="link-button" href="/lists?user={{user}}">Cancel</a>
        </form>
    </div>
</div>