<h1 class="h1-mainTitle">To-do List</h1>
<div class="page-container">
    <div class="page-sub-container">
        <h2>Delete List</h2>
        <div>This is not an empty list. Are you sure you want to delete it?</div>
        <a class="link-button" href="/delete-list-confirm?user={{user}}&list={{list}}">Yes</button>
        <a class="link-button" href="/lists?user={{user}}">No</a>
    </div>
</div>