<h1 class="h1-mainTitle">To-do List</h1>
<div class="page-container">
    <div class="page-sub-container">
        <h2>Edit</h2>
        <h3>{{todo.todo_title}}</h3>
        <div class="detail-container">{{todo.todo_description}}</div>
        <a class="link-button" href="/index?user={{user}}&list={{list}}">Return</a>
    </div>
</div>
