<h1 class="h1-mainTitle">To-do List</h1>
<div class="page-container">
    <div class="page-sub-container">
        <h2>Create New Account</h2>
        <div>
            <form action="" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username">
                <br>
                <br>
                <input class="link-button" type="submit" value="Create Account">
                <span> | </span>
                <a class="link-button" href="/">Cancel</a>
            </form>
        </div>
    </div>
</div>